Source: ogagent
Section: admin
Priority: optional
Maintainer: Ramón M. Gómez <ramongomez@us.es>
Build-Depends: debhelper (>= 7), po-debconf
Standards-Version: 3.9.2
Homepage: https://opengnsys.es/

Package: ogagent
Section: admin
Priority: optional
Architecture: all
Depends:
 policykit-1 (>= 0.100), python3 (>=3.4) | python (>= 3.4), python3-pyqt5, python3-requests,
 python3-six, python3-prctl, python3-distro, libxss1, ${misc:Depends}
Description: OpenGnsys Agent for Operating Systems
 This package provides the required components to allow this machine to work on an environment managed by OpenGnsys.
